[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fastLaplace"]
	path = fastLaplace
	url = https://github.com/cran/fastLaplace
	shallow = true
	registered = true
